@use "base/variables" as v;
@use "base/mixins" as m;

.landing {
  .footer {
    background: v.$negro;

    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-evenly;
    padding: 2rem;

    .footer__redes {
      display: flex;
      justify-content: space-between;
      width: 20rem;
      img {
        height: 3.5rem;
      }
    }

    .footer__title {
      color: v.$blanco;

      a {
        color: v.$blanco;
        text-decoration: underline;
      }
    }
    @include m.mobile {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
  }
}
