# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=urnal_mvc
DB_USERNAME=root
DB_PASSWORD=

# Configuración del correo electrónico
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD="tu_contraseña_de_aplicacion"

# Configuración general de la aplicación
APP_NAME=Urnal
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_TIMEZONE=Europe/Madrid

