@use "base/variables" as v;

/** Media Queries **/
@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: v.$tablet) {
    @content;
  }
}

@mixin boton($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1.5rem 2.8rem;
  cursor: pointer;
  border-radius: 9999px;
  color: $colorTexto;
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 700;
  border: none;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  display: block;
  width: 100%;
  @include tablet {
    width: auto;
  }
  &:hover {
    //box-shadow: 0px 6px 0px 0px darken(v.$gris_claro, 20%);
    box-shadow: 0px 6px 0px 0px darken($bgColor, 20%);
    transform: translateY(-4px);
  }
  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}
