@use "base/variables" as v;
@use "base/mixins" as m;

$grisOscuro: #2c2c3b;

html.dark-mode {
  background-color: $grisOscuro;

  .tagline,
  .formulario label,
  .login .acciones a,
  .crear .acciones a,
  .olvide .acciones a {
    color: v.$blanco;
  }
  .descripcion-pagina,
  .formulario .campo input,
  .nombre-pagina {
    color: darken(v.$grisClaro, 15%);
  }

  .formulario .campo input {
    background-color: lighten($grisOscuro, 15%);
    &::placeholder {
      color: darken(v.$grisClaro, 30%);
    }
  }

  .alerta.error {
    background-color: v.$blanco;
  }

  .sidebar {
    background-color: darken($grisOscuro, 5%);

    .sidebar-nav a {
      &.activo,
      &:hover {
        background-color: v.$naranja;
      }
    }
  }

  .barra-mobile,
  .barra {
    background-color: darken($grisOscuro, 7%);
  }

  .barra {
    p {
      color: v.$naranja;
      span {
        color: v.$grisClaro;
      }
    }
    .cerrar-sesion {
      @include m.boton(v.$naranja, v.$blanco);
      padding: 1rem;
      font-size: 1.2rem;
    }

    .hora-fecha {
      color: v.$blanco;
    }
  }

  .filtros {
    background-color: lighten($grisOscuro, 10%);
    h2,
    label {
      color: v.$blanco;
    }
    input[type="radio"] {
      accent-color: v.$naranja;
    }
  }

  .dashboard {
    background-color: $grisOscuro;

    .enlace {
      color: v.$grisClaro;
      &:hover {
        color: darken(v.$grisClaro, 30%);
      }
    }

    .formulario input:not([type="submit"]) {
      background-color: lighten($grisOscuro, 20%);
      color: v.$blanco;
      &::placeholder {
        color: darken(v.$grisClaro, 30%);
      }
    }

    .form-centrado {
      background: darken(v.$grisClaro, 30%);

      .nombre-pagina {
        color: v.$blanco;
      }

      .contenedor-sm {
        .enlace {
          color: v.$blanco;
          &:hover {
            color: darken(v.$blanco, 10%);
          }
        }
      }
    }
  }

  .listado-proyectos .proyecto {
    background-color: lighten($grisOscuro, 20%);
    &:hover {
      background-color: lighten($grisOscuro, 15%);
    }
  }
  .listado-tareas .tarea {
    background-color: lighten($grisOscuro, 10%);
    border: none;
    p {
      color: v.$grisClaro;
    }
  }
  .modal .formulario {
    background-color: $grisOscuro;
    input[type="text"] {
      background-color: lighten($grisOscuro, 20%);
      border: none;
      color: v.$blanco;
      &::placeholder {
        color: darken(v.$grisClaro, 20%);
      }
    }
    legend {
      color: v.$grisClaro;
    }
  }

  .dark-mode-btn img:last-child {
    transform: translateY(0%);
  }

  .dark-mode-btn img:first-child {
    transform: translateY(-200%);
  }
}

.dark-mode-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background: v.$blanco;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: v.$blanco;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  z-index: 10000;

  img {
    width: 1.7rem;
    position: absolute;
    transition: transform 0.3s ease;

    &:last-child {
      transform: translateY(200%);
    }
  }
}
